:root {
    --deepblue: rgba(0, 0, 20, 0.9);
    --footer-bg: rgba(0, 0, 20, 0.8);
    --dark-green: hsl(217, 28%, 15%);
    --shadow-1: hsl(238, 50%, 10%); 
    --white: #fff;
    /* --blue: #10ac84; */
    --paragraph-txt: #9994ad;
    --very-light-grey: rgba(238, 238, 238, 0.445);
}
body {
    background: url(../assets/images/random-pattern.png);
}
.sign-in-con {
    background-color: var(--deepblue);
}
/* form positioning ********************* */
#container {
    margin-top: 10vh;
    width: 100vw;
    height: 90vh;
    display: grid;
    align-content: center;
}
#wrapper {
    width: 100%;
    height: 75vh;
    margin: 0 auto;
    display: flex;
}

/* form styling****************** */
#auth-box {
    width: 30%;
    height: 100%;
    margin: 0 auto;
    background-color: var(--white);
    transition-duration: .3s;
    border: 2px solid #1e3799;
    border-radius: 10px;
}
/* #auth-box:hover {
    width: 35%;
    transition-duration: .3s;
} */

.input-con {
    height: 50px;
    width: 100%;
    background-color: var(--white);
    border: 2px solid #c8c9cf;
    width: 100%;
    height: 50px;
    margin: 10px auto;
    font-size: 18px;
    display: flex;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.input-con:hover {
    border-color: var(--blue);
}
.form-icon {
    width: 15%;
    height: 100%;
    display: grid;
    align-content: center;
}
.input-con img {
    padding-left: 10px;
    width:75%;
    height: auto;
}
input:-internal-autofill-selected {
    background-color: transparent !important;
}

/* login form styling******************************************* */
#auth-box h1 {
    font-size: 40px;
    color: var(--deepblue);
    text-align: center;
    margin: 70px 0;
}
#auth-box form {
    width: 70%;
    height: auto;
    margin: 0 auto;
}
#auth-box input[type="text"],
#auth-box input[type="password"] {
    width: 80%;
    font-size: 16px;
    outline: none;
    border: none;
    transition-duration: .3s;
}
/* #auth-box input[type="text"]:focus ~ #input-con,
#auth-box input[type="password"]:focus ~ #input-con {
    background-color: #4267B2;
} */
#auth-box input::placeholder {
    font-size: 16px;
    color: var(--paragraph-txt);
}
#auth-box input[type="checkbox"] {
    margin-left: 5%;
}
#auth-box input[type="checkbox"]:checked ~ label {
    color: var(--deepblue);
}
#auth-box label {
    color: var(--paragraph-txt);
    margin-left: 10px;
}
#auth-box label:hover {
    color: var(--deepblue);
}
#auth-box button {
    width: 100%;
    height: 50px;
    /* border: none; */
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid var(--deepblue);
    background-color: var(--blue);
    color: var(--deepblue);
    font-size: 18px;
    margin-top: 50px;
    font-weight: 500;
    transition-duration: .3s;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
#auth-box button:hover {
    background-color: var(--deepblue);
    border-bottom: 3px solid var(--blue);
    color: var(--blue);
    transition-duration: .3s;

    
}